<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="">
    <div href="{'background-image': 'url(' + ../assets/images/background.jpg + ')'}">
    </div>

    <div class="container">
        <h2>Select Weather Parameter</h2>
        <h3>What Would You Love To See?</h3>
        <form (submit)="onSubmit($event)" class="input mx-auto">
            <select id="trend" [(ngModel)]="myVar" name="trend">
                    <option value="" disabled>Select a trend</option>
                    <option value="temperature">Temperature</option>
                    <option value="humidity_level">Humidity level</option>
                    <option value="wind_direction">Wind Direction</option>
                    <option value="wind_speed">Wind Speed</option>
             </select>
            <select id="type" [(ngModel)]="myType" name="type">
                    <option value="" disabled>Select Chart Type</option>
                    <option value="bar">Bar Chart</option>
                    <option value="line">Line Chart</option>
             </select>
             <button type="submit">Select Your Trend</button>
        </form>
        <div class="chart-container">
            <canvas id="MyChart" width="500" height="300">{{ chart }}</canvas>
        </div>
    </div>
</body>
